
@model Vidly.ViewModels.ListCustomersViewModel

@{
    ViewBag.Title = "ListCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes:</h2>

@if (Model.Customers.Count == 0)
{
    <text>Nenhum cliente cadastrado </text>
}

else
{ 
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@Html.ActionLink(customer.Name, "CustomerDetails/"+customer.Name, "Customers")</li>
        }
    </ul>
}
